/* Estilos generales */
body {
    font-family: 'Amaranth';
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #222744;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 1.25em;
}


/* Estilos del encabezado */
header {
    background: linear-gradient(#2F4C5C, #222744);
    color: #ffffff;
    padding: 0.625em 0;
}

.container-header-movil {
    display: none;
}

.container-header {
    width: 80%;
    margin: 0 auto;
    padding: 1.25em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5em;
}

.container-header-centered {
    width: 80%;
    margin: 0 auto;
    padding: 1.25em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 5em;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 6.25em;
    height: auto;
    margin-right: 1.875em;
}

.logo h1 {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    font-family: 'Grover Heavy', sans-serif;
    white-space: nowrap;
}

.logo a {
    text-decoration: none;
}

.logo a:visited, .logo a:active, .logo a:link, .logo a:hover {
    color: #ffffff;
}

nav {
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-left: 2.5em;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease, background-color 0.3s ease;
}

nav ul li a:hover {
    color: #2ba3b9;
}

.menu li {
    white-space: nowrap;
}

.search-form {
    margin-right: 0.625em;
}

.search-form input[type="text"] {
    padding: 0.3125em;
    padding-left: 0.9375em;
    margin-right: 0.3125em;
    border: 0.0625em solid #ccc;
    border-radius: 0.9375em;
    font-size: 1em;
}

.search-form button[type="submit"] {
    padding: 0.5em 0.625em;
    border: none;
    border-radius: 0.1875em;
    background-color: #2c6381;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-form button[type="submit"]:hover {
    background-color: #3289b8;
}

.search-icon {
    color: #ffffff;
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.search-form-mobile {
    display: flex;
    align-items: center;
    margin: 0.625em 0;
    width: 90%;
    padding: 0 1.25em;
}

.search-form-mobile input {
    flex-grow: 1;
    width: 70%;
    margin-right: 0.625em;
    padding: 0.3125em;
    padding-left: 0.9375em;
    border: 0.0625em solid #ccc;
    border-radius: 1.25em;
    font-size: 1em;
}

.search-form-mobile button {
    background: none;
    border: none;
    cursor: pointer;
}

.search-form-mobile i {
    color: #ffffff;
    font-size: 1.5em;
}

.login {
    width: 10%;
    display: flex;
    justify-content: center;
}

.login-button {
    padding: 0.625em 1.25em;
    font-size: 1em;
    white-space: nowrap;
    border: none;
    border-radius: 0.625em;
    background-color: #fea84d;
    color: #ffffff;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #fd763a;
}

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
    white-space: nowrap;
}

.dropdown a {
    color: #ffffff;
    text-decoration: none;
}

.dropdown ul li {
    margin: 0 auto;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    background-color: #2F4C5C;
    color: #ffffff;
    border-radius: 0.3125em;
    padding: 0.625em;
    margin-top: 0.625em;
    width: 12.5em;
    z-index: 3;
    display: none;
}

.dropdown-menu a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 0.3125em;
    font-weight: normal;
}

.dropdown-menu a:hover {
    background-color: #2c6888;
    border-radius: 0.3125em;
}

.fas {
    transition: all 0.3s ease;
}

.rotate-icon {
    transform: rotate(180deg);
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-pic {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    margin-right: 0.625em;
}

.user-name {
    vertical-align: middle;
}

.error-header {
    background-color: #ffcccc;
    color: #cc0000;
    padding: 0.625em;
    border-radius: 0.3125em;
    box-shadow: 0 0 0.625em rgba(204, 0, 0, 0.5);
    position: fixed;
    top: 0.625em;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 1000;
}

.message-header {
    background-color: #ccffcc;
    color: #008800;
    padding: 0.625em;
    border-radius: 0.3125em;
    box-shadow: 0 0 0.625em rgba(0, 136, 0, 0.5);
    position: fixed;
    top: 0.625em;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 1000;
}

.cart-dropdown {
    position: absolute;
    right: 0;
    width: 18.75em;
    color: #000000;
    background-color: #fff;
    border: 0.0625em solid #ccc;
    border-radius: 0.625em;
    padding: 0.625em;
    box-shadow: 0 0.125em 0.625em rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
    z-index: 10000;
}

.cart-dropdown.show {
    opacity: 1;
    pointer-events: auto;
}

.cart-items {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: 0.3125em;
}

.cart-item-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.0625em solid #ccc;
    padding: 0.625em 0;
}

.cart-item-2 img {
    width: 4.375em;
    height: 4.375em;
    margin-right: -3.125em;
    border-radius: 0.3125em;
    object-fit: cover;
    object-position: center;
}

.cart-total-2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 1.25em;
    margin-right: 0.3125em;
    text-align: right;
}

.cart-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.625em;
}

.cart-button, .checkout-button {
    text-decoration: none;
    color: #fff;
    background-color: #fea84d;
    padding: 0.625em;
    border-radius: 0.3125em;
}

.cart-button:hover, .checkout-button:hover {
    background-color: #fd763a;
}

/* Estilos del contenido principal */
main {
    padding: 1.25em 0;
    flex: 1 0 auto;
}

h2 {
    font-size: 1.25em;
}

.collection-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}

.collection-box, .collection-box-disabled {
    border: 0.0625em solid #ccc;
    border-radius: 0.3125em;
    overflow: hidden;
    height: fit-content;
}

.collection-box img, .collection-box img {
    width: 100%;
    height: auto;
}

.collection-box h3, .collection-box-disabled h3 {
    font-size: 1em;
    margin: 0.625em 0;
    text-align: center;
}

.collection-box a, .collection-box-disabled a {
    display: block;
    text-decoration: none;
    color: #222744;
    transition: all 0.3s ease;
}

.collection-box a:hover img {
    transform: scale(1.05);
}

.collection-box a:hover {
    color: #2ba3b9;
}

.collection-box a img, .collection-box-disabled a img {
    width: 100%;
    height: auto;
    transition: all 0.3s ease;
}

.collection-box a h3, .collection-box-disabled a h3 {
    margin: 0.625em 0;
    font-size: 1.2em;
    font-weight: bold;
}

.collection-box a p, .collection-box-disabled a p {
    margin: 0;
    font-size: 1em;
}

.collection-box p, .collection-box-disabled p {
    padding: 0 1em;
}

.error-404 {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 3.125em;
}

.error-404 img {
    width: 18.75em;
    height: auto;
}

/* Estilos del formulario de inicio de sesión */
.login-form {
    background-color: #f0f0f0;
    padding: 1.25em;
    border-radius: 0.5em;
    box-shadow: 0 0 0.625em 0 rgba(0,0,0,0.1);
    width: 50%;
    margin: 0 auto;
}

.login-form label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.3125em;
    color: #222744;
}

.vender-label {
    margin-top: 1.25em;
}

.login-form input[type="text"], .login-form input[type="email"], .login-form input[type="password"], .login-form input[type="number"], .login-form select {
    box-sizing: border-box;
    width: 100%;
    padding: 0.625em;
    margin-bottom: 0.625em;
    border: 0.0625em solid #ddd;
    border-radius: 0.25em;
}

.login-form input[type="file"] {
    display: block;
    width: -webkit-fill-available;
    margin: 0 auto;
    padding: 0.625em;
    border: 0.0625em solid #ccc;
    border-radius: 0.25em;
    text-align: center;
}

.login-form .vender-nft {
    padding: 0.625em;
    border: 0.0625em solid #ccc;
    border-radius: 0.25em;
}

.login-form input::file-selector-button {
    color: white;
    padding: 0.5em;
    border-radius: 0.3125em;
    border: none;
    cursor: pointer;
    background-color: orange;
    transition: background-color 0.3s ease;
}

.login-form input::file-selector-button:hover {
    background-color: darkorange;
}

.login-form input[type="submit"] {
    background-color: #2F4C5C;
    color: white;
    padding: 0.625em 1.25em;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
    width: 100%;
    font-family: 'Amaranth';
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.login-form input[type="submit"]:hover {
    background-color: #2ba3b9;
}

.password-container {
    position: relative;
}

#toggle-password, #toggle-password-2 {
    position: absolute;
    right: 0.625em;
    top: 40%;
    transform: translateY(-50%);
    cursor: pointer;
}

#toggle-current-password, #toggle-new-password, #toggle-confirm-password {
    position: absolute;
    right: 0.625em;
    top: 40%;
    transform: translateY(-50%);
    cursor: pointer;
}

.volver {
    margin-left: 1.25em;
    text-decoration: none;
}

.volver, .volver:visited, .volver:active, .volver:link {
    color: #222744;
    transition: color 0.3s ease;
}

.volver:hover {
    color: #578492;
}

/* Estilos de la página colección */
.collection-cover {
    position: relative;
    border-radius: 0.9375em;
    overflow: hidden;
}

.collection-cover img {
    width: 100%;
    height: 18.75em;
    object-fit: cover;
    object-position: center;
    transition: all 0.3s ease;
}

.collection-cover img:hover {
    transform: scale(1.05);
}

.collection-info {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    padding: 0.625em;
}

.nft-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    margin-top: 3.125em;
}

.nft-box, .nft-box-disabled {
    border: 0.0625em solid #ccc;
    border-radius: 0.3125em;
    overflow: hidden;
    margin-bottom: 1.25em;
    height: fit-content;
}

.nft-box img, .nft-box-disabled img {
    width: 100%;
    height: auto;
}

.nft-box h3, .nft-box-disabled h3 {
    font-size: 1em;
    margin: 0.625em 0;
    text-align: center;
}

.nft-box a, .nft-box-disabled a {
    display: block;
    text-decoration: none;
    color: #222744;
    transition: all 0.3s ease;
}

.nft-box a:hover img {
    transform: scale(1.05);
}

.nft-box a:hover {
    color: #2ba3b9;
}

.nft-box a img, .nft-box-disabled a img {
    width: 100%;
    height: auto;
    transition: all 0.3s ease;
}

.nft-box a h3, .nft-box-disabled a h3 {
    margin: 0.625em 0;
    font-size: 1.2em;
    font-weight: bold;
}

.nft-box a p, .nft-box-disabled a p {
    margin: 0;
    font-size: 0.9em;
}

.nft-box p, .nft-box-disabled p {
    padding: 0 1em;
}

.button-cart-container {
    display: flex;
    justify-content: center;
}

.add-to-cart, .add-to-cart-disabled {
    background-color: #2F4C5C;
    color: white;
    padding: 0.625em 1.25em;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
    font-family: 'Amaranth';
    transition: background-color 0.3s ease;
    font-size: 1em;
    display: inline-block;
    text-decoration: none;
    margin-top: 0.625em;
    margin-bottom: 0.625em;
}

.add-to-cart-disabled {
    background-color: grey;
}

.add-to-cart:hover {
    background-color: #2ba3b9;
}

.add-to-cart i, .add-to-cart-disabled i {
    margin-right: 0.3125em;
}

#cart-icon {
    position: relative;
}

#cart-icon i {
    color: white;
    font-size: 1.2em;
}

.cart-count {
    position: absolute;
    top: -1.5em;
    right: -1.1em;
    background: orange;
    color: white;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
}

/* Estilos para la página de NFT */

.nft-details-container {
    display: flex;
    justify-content: space-between;
}

.nft-details {
    flex: 0 0 60%;
}

.nft-image {
    margin-right: 1.25em;
}

.nft-info {
    max-width: 37.5em;
}

.nft-info h2 {
    margin-top: 0;
}

.button-cart-container-2 {
    margin-top: 1.25em;
}

.collection-preview {
    flex: 0 0 30%;
    padding-left: 1.25em;
    border-left: 0.0625em solid #ccc;
}

.collection-preview h3 {
    margin-top: 0;
}

.collection-item {
    margin-bottom: 1.25em;
}

/* Estilos para el carrito de compra */
.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.0625em solid #ccc;
    padding: 0.625em 0;
    width: 131.5%;
}

.cart-item img {
    width: 4.375em;
    height: 4.375em;
    margin-right: 1.25em;
    border-radius: 0.3125em;
    object-fit: cover;
    object-position: center;
}

.cart-item-title {
    font-size: 1.2em;
    font-weight: bold;
    color: #222744;
    display: flex;
    align-items: center;
}

.cart-item-price {
    font-size: 1.2em;
    font-weight: bold;
    color: #222744;
}

.cart-total {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 1.25em;
}

.checkout-button-container {
    display: flex;
    justify-content: flex-end;
    gap: 1.25em;
}

a.checkout-button {
    background-color: #2F4C5C;
    color: white;
    padding: 0.625em 1.25em;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
    font-family: 'Amaranth';
    transition: background-color 0.3s ease;
    font-size: 1em;
    text-decoration: none;
}

a.checkout-button:hover {
    background-color: #2ba3b9;
}

table {
    width: 100%;
}

table th:nth-child(1), table td:nth-child(1) {
    text-align: left;
}

table th:nth-child(2), table td:nth-child(2), .cart-total, .checkout-button {
    text-align: right;
}

.remove-button {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 0.3125em 0.625em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 0.25em 0.125em;
    cursor: pointer;
    border-radius: 0.25em;
    margin-left: 0.3125em;
    transition: background-color 0.3s ease;
}

.remove-button:hover {
    background-color: #da190b;
    color: white;
}

.price-header {
    padding-right: 2.8125em;
}

/* Estilos de la página checkout */
.cuenta {
    width: 100%;
    display: flex;
    justify-content: center;
}

.cuenta-izq {
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

.cuenta-der {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: top;
    border-left: 0.0625em solid #616161;
    width: 50%;
}

.login-form.checkout-login {
    width: 70%;
}

.direccion {
    background-color: #dadada;
    border: 0.0625em solid #b3b2b2;
    border-radius: 0.3125em;
    box-shadow: 0 0 0.625em 0 rgba(0,0,0,0.1);
    padding: 1.25em;
    margin-bottom: 1.25em;
    width: 50%;
    margin: 0 auto;
}

.direccion p {
    font-size: 1.2em;
    margin-bottom: 0.625em;
}

.botones-centrados {
    display: flex;
    justify-content: center;
}

.direccion button {
    background-color: #2F4C5C;
    color: white;
    padding: 0.625em 1.25em;
    border: none;
    border-radius: 0.4375em;
    margin: 0 0.625em;
    cursor: pointer;
    font-family: 'Amaranth';
    transition: background-color 0.3s ease;
    font-size: 1em;
    text-decoration: none;
}

.direccion button:hover {
    background-color: #2ba3b9;
}

.boton-derecha {
    text-align: right;
}

.siguiente {
    background-color: orange;
    color: white;
    padding: 0.625em 1.25em;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    font-family: 'Amaranth';
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
}

.siguiente:hover {
    background-color: darkorange;
}

.direccion-form {
    background-color: #f0f0f0;
    padding: 1.25em;
    border-radius: 0.5em;
    box-shadow: 0 0 0.625em 0 rgba(0,0,0,0.1);
    width: 50%;
    margin: 0 auto;
}

.direccion-form label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.3125em;
    color: #222744;
}

.direccion-form input[type="text"], .direccion-form select {
    box-sizing: border-box;
    width: 100%;
    padding: 0.625em;
    margin-bottom: 0.625em;
    border: 0.0625em solid #ddd;
    border-radius: 0.25em;
}

.direccion-form input[type="submit"] {
    background-color: #2F4C5C;
    color: white;
    padding: 0.625em 1.25em;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    font-family: 'Amaranth';
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.direccion-form input[type="submit"]:hover {
    background-color: #2ba3b9;
}

.direccion-button {
    display: flex;
    justify-content: space-between;
}

.direccion-form input[type="submit"],
.direccion-form a {
    flex: 1;
    margin: 0 0.625em;
}

.direccion-form a {
    background-color: orange;
    color: white;
    padding: 0.625em 1.25em;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    font-size: 1em;
    font-family: 'Amaranth';
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
}

.direccion-form a:hover {
    background-color: darkorange;
}

.invitado-form {
    background-color: #f0f0f0;
    padding: 1.25em;
    border-radius: 0.5em;
    box-shadow: 0 0 0.625em 0 rgba(0,0,0,0.1);
    width: 50%;
    margin: 0 auto;
}

.invitado-form label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.3125em;
    color: #222744;
}

.invitado-form input[type="text"], .invitado-form input[type="email"], .invitado-form input[type="tel"] {
    box-sizing: border-box;
    width: 100%;
    padding: 0.625em;
    margin-bottom: 0.625em;
    border: 0.0625em solid #ddd;
    border-radius: 0.25em;
}

.invitado-form input[type="submit"] {
    background-color: #2F4C5C;
    color: white;
    padding: 0.625em 1.25em;
    border: none;
    border-radius: 0.25em;
    margin-top: 1.25em;
    cursor: pointer;
    width: 100%;
    font-family: 'Amaranth';
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.invitado-form input[type="submit"]:hover {
    background-color: #2ba3b9;
}

.metodo-pago {
    width: 65%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 1.25em;
    box-shadow: 0 0 0.625em rgba(0, 0, 0, 0.1);
    border-radius: 0.625em;
}

.metodo-pago h3 {
    text-align: center;
    margin-bottom: 1.25em;
}

.tarjeta-credito {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mes-tarjeta, .year-tarjeta {
    flex: 1;
}
  
.numero-tarjeta, .titular-tarjeta, .mes-tarjeta select, .year-tarjeta select {
    font-size: 0.8em;
    font-weight: 100;
    line-height: 0.875em;
}

.numero-tarjeta, .titular-tarjeta {
    width: 100%;
    margin-bottom: 1.25em;
    padding: 0.9375em 1.25em;
    border: 0.125em solid #e1e8ee;
    border-radius: 0.375em;
}

.fecha-cvv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 107%;
}

.mes-tarjeta select, .year-tarjeta select, .cvv input {
    width: 9.0625em;
    margin-bottom: 1.25em;
    padding: 0.9375em 1.25em;
    border: 0.125em solid #e1e8ee;
    border-radius: 0.375em;
    background-position: 85% 50%;
}

.mes-tarjeta option, .year-tarjeta option {
    color: #000000;
}

.guardar-tarjeta {
    align-self: flex-start;
    margin-left: 1em;
    margin-bottom: 1.25em;
}

.metodo-pago-botones {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
  
.boton-paypal, .boton-proceder {
    cursor: pointer;
    width: 12.5em;
    padding: 0.625em;
    border-color: transparent;
    border-radius: 0.375em;
    font-size: 1em;
    font-family: 'Amaranth';
}
  
.boton-proceder {
    margin-bottom: 0.625em;
    background: #7dc855;
    cursor: pointer;
    color : #ffffff;
    transition: background 0.3s;
}

.boton-proceder.tarjeta-caducada:hover {
    background-color: grey;
}
  
.boton-paypal {
    color: #ffffff;
    text-decoration: none;
    padding-right: 5.2em;
    background: url('../img/paypal.svg') no-repeat 82% 56% #113984;
    transition: background 0.3s;
}

a.boton-paypal {
    width: 6.25em;
}

.boton-proceder:hover {
    background: #5ca634;
}

.boton-paypal:hover {
    background: url('../img/paypal.svg') no-repeat 82% 56% #0d2b6b;
}

.tarjeta-guardada {
    width: 70%;
    border: 0.0625em solid #ccc;
    border-radius: 0.625em;
    padding: 1.25em;
    margin-bottom: 1.25em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f9f9;
}

.tarjeta-guardada img {
    width: 3.75em;
    margin-right: 1.25em;
}

.tarjeta-guardada p {
    margin: 0;
    padding: 0;
    font-size: 1em;
    color: #333;
}

.tarjeta-guardada input[type="radio"] {
    margin-right: 0.625em;
}

.tarjeta-guardada .boton-modificar,
.tarjeta-guardada .boton-eliminar {
    padding: 0.3125em 0.625em;
    border: none;
    border-radius: 0.1875em;
    color: #fff;
    cursor: pointer;
}

.tarjeta-guardada .boton-modificar {
    background-color: #7dc855;
    margin-right: 0.625em;
    transition: background-color 0.3s;
}

.tarjeta-guardada .boton-eliminar {
    background-color: #f44336;
    transition: background-color 0.3s;
}

.tarjeta-guardada .boton-modificar:hover {
    background-color: #5ca634;
}

.tarjeta-guardada .boton-eliminar:hover {
    background-color: #da190b;
}

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.modal .modificar-tarjeta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    align-items: center;
    margin-bottom: 0.625em;
}

.modal .modificar-tarjeta h3 {
    margin-bottom: 0em;
}

.modal h3, .modal .close {
    margin: 0;
}

.modal .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 1.25em;
    border: 0.0625em solid #888;
    border-radius: 0.625em;
    width: 40%;
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.2), 0 0.375em 1.25em 0 rgba(0, 0, 0, 0.19);
    transition: display 0.3s;
}

.modal .form-modificar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.modal .titular-tarjeta {
    margin-top: 0.625em;
}

.close {
    color: #aaa;
    cursor: pointer;
    font-size: 1.75em;
    font-weight: bold;
    transition: color 0.3s;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.procesar-pago {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

/* Estilos de la página Admin */

.colecciones {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.colecciones a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s;
}

.colecciones a:hover {
    color: #2ba3b9;
}

.coleccion-nft {
    display: flex;
    align-items: center;
    margin-bottom: 0.625em;
    border: 0.0625em solid #ddd;
    border-radius: 0.25em;
    font-size: 1.1em;
    cursor: pointer;
}

.coleccion-img {
    width: 4em;
    height: 4em;
    border-radius: 0.25em;
    object-fit: cover;
    object-position: center;
}

.coleccion-nombre {
    flex-grow: 1;
    margin-left: 1em;
}

.nueva-nft-border {
    border: 0.0625em solid #ddd;
    border-radius: 0.25em;
    padding: 0.75em;
}

#addNFT, #removeNFT {
    border: none;
    color: white;
    padding: 0.25em 0.75em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2em;
    border-radius: 0.25em;
    margin: 0.25em 0.125em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#addNFT {
    background-color: #4CAF50;
}

#addNFT:hover {
    background-color: #45a049;
}

#removeNFT {
    background-color: #f44336;
}

#removeNFT:hover {
    background-color: #d32f2f;
}

.boton-coleccion {
    text-align: right;
    margin-bottom: 2em;
}

.contenedor-botones {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin: 1em 0;
}

form#nueva-coleccion, form#editar-coleccion {
    margin-top: 3em;
}

.nueva-coleccion, .editar-coleccion, .eliminar-coleccion {
    color: white;
    padding: 0.625em 1.25em;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
    width: auto;
    text-decoration: none;
    font-family: 'Amaranth';
    transition: background-color 0.3s ease;
}

.contenedor-botones a, .contenedor-botones a:hover {
    color: white;
}

.nueva-coleccion {
    background-color: orange;
    text-align: right;
    font-size: 1em;
    font-weight: bold;
}

.nueva-coleccion:hover {
    background-color: darkorange;
}

.editar-coleccion {
    background-color: #2F4C5C;
    font-size: 1em;
}

.editar-coleccion:hover {
    background-color: #2ba3b9;
}

.eliminar-coleccion {
    background-color: #f44336;
}

.eliminar-coleccion:hover {
    background-color: #da190b;
}

.switch {
    position: relative;
    display: inline-block;
    width: 3.75em;
    height: 2.125em;
    font-size: 0.8em;
    margin-right: 1.1em;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 2.125em;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.625em;
    width: 1.625em;
    left: 0.25em;
    bottom: 0.25em;
    background-color: white;
    border-radius: 50%;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #222744;
}

input:focus + .slider {
    box-shadow: 0 0 0.0625em #222744;
}

input:checked + .slider:before {
    -webkit-transform: translateX(1.625em);
    -ms-transform: translateX(1.625em);
    transform: translateX(1.625em);
}

/* Estilos del pie de página */
footer {
    background-color: #222744;
    color: #ffffff;
    text-align: center;
    padding: 0.625em 0;
    width: 100%;
}

footer p {
    margin: 0;
    padding: 0;
}

/* Estilos pagina cuenta*/

.container-cuenta {
    width: 70%;
    margin: 0 auto;
    padding: 1.25em;
    display: flex;
    justify-content: space-between;
}

.menu-columna {
    height: 12.5em;
    flex: 0.5;
    border-right: 0.0625em solid #ccc;
}

.menu-columna ul {
    list-style-type: none;
    padding: 0;
}

.menu-columna ul li {
    padding: 0.625em;
}

.menu-columna ul li.active {
    background-color: #ccc;
    border-radius: 0.3125em 0 0 0.3125em;
}

.menu-columna ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #222744;
    transition: color 0.3s;
}

.menu-columna ul li a:hover {
    color: #578492;
}

.contenido {
    padding: 1.25em;
    flex: 2;
}

.contenido h3 {
    margin-bottom: 1.875em;
}

.contenido .perfil img {
    width: 9em;
    height: 9em;
    border-radius: 50%;
}

.contenido .perfil h1 {
    margin-left: 1.2em;
}

.contenido .foto-nombre {
    display: flex;
    justify-content: center;
    align-items: center;
}

.perfil-img-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 9em;
    height: 9em;
    overflow: hidden;
}

.perfil-img {
    transition: filter 0.3s ease;
}

.perfil-img-wrapper:hover .perfil-img {
    filter: brightness(70%);
}

.perfil-img-text {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    opacity: 0;
    cursor: default;
    transition: opacity 0.3s ease;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 0.625em 0;
}

.perfil-img:hover + .perfil-img-text,
.perfil-img-text:hover {
    opacity: 1;
}

.menu-cambiar {
    display: none;
    position: fixed;
    flex-direction: column;
    align-items: center;
    gap: 0.625em;
    background-color: #f8f8f8;
    padding: 1.25em;
    border-radius: 0.625em;
    box-shadow: 0 0 0.625em rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}

.metodo-pago {
    width: 80%;
}

/* Estilos de la página Mis NFT */

.mis-nft-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    margin-top: 1.25em;
}

.nft {
    width: 12.5em;
    margin: 0.625em;
    border: 0.0625em solid #ccc;
    padding: 0.625em;
    border-radius: 0.625em;
    text-align: center;
}

.nft img {
    width: 100%;
    height: auto;
    border-radius: 0.3125em;
}

.nft-name {
    font-size: 1.2em;
    font-weight: bold;
}

.nft-label {
    color: #222744;
}

.nft-value {
    color: #888;
}

.boton-vender {
    display: inline-block;
    margin-top: 0.625em;
    padding: 0.625em 1.25em;
    background-color: orange;
    color: white;
    text-decoration: none;
    border-radius: 0.25em;
    transition: background-color 0.3s;
}

.boton-vender:hover {
    background-color: #fd763a;
}

/* Estilos de la página Mi Perfil */

.modal-foto {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
}

.modal-foto .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 1.5em;
    border: 0.0625em solid #888;
    border-radius: 0.625em;
    width: auto;
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.2), 0 0.375em 1.25em 0 rgba(0, 0, 0, 0.19);
}

.modal-foto .recortar-imagen {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 0.625em;
}

.modal-foto .recortar-imagen h3 {
    margin: 0;
}

.modal-foto .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.25em;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.modal-foto .img-container img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    border-radius: 0;
}

.modal-foto .button-container {
    margin-top: 1em;
    align-self: flex-end;
}

.modal-foto #crop {
    background-color: #4aafe9;
    color: white;
    padding: 0.625em 1.25em;
    margin: 0.3125em;
    font-size: 1em;
    border: none;
    border-radius: 0.3125em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-foto #crop:hover {
    background-color: #3b9bdf;
}

.modal-foto #cancel {
    background-color: #c2c2c2;
    color: black;
    padding: 0.625em 1.25em;
    margin: 0.3125em;
    font-size: 1em;
    border: none;
    border-radius: 0.3125em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-foto #cancel:hover {
    background-color: #9c9c9c;
}

.modal-foto button.loading {
    position: relative;
    padding-left: 2.75em !important;
    cursor: not-allowed;
}

.modal-foto button.loading::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0.625em;
    width: 1.25em;
    height: 1.25em;
    border: 0.1875em solid #fff;
    border-radius: 50%;
    border-top: 0.1875em solid transparent;
    animation: spin 1s linear infinite;
    transform: translateY(-50%);
}
.perfil {
    background-color: #dadada;
    border: 0.0625em solid #b3b2b2;
    border-radius: 0.3125em;
    box-shadow: 0 0 0.625em 0 rgba(0,0,0,0.1);
    padding: 1.25em;
    margin-bottom: 1.25em;
    width: 60%;
    margin: 0 auto;
}

.perfil p {
    font-size: 1.2em;
    margin-bottom: 0.625em;
}

.botones-centrados {
    display: flex;
    justify-content: center;
}

.perfil button {
    background-color: #2F4C5C;
    color: white;
    padding: 0.625em 1.25em;
    border: none;
    border-radius: 0.4375em;
    margin: 0 0.625em;
    cursor: pointer;
    font-family: 'Amaranth';
    transition: background-color 0.3s ease;
    font-size: 1em;
    text-decoration: none;
}

.perfil button:hover {
    background-color: #2ba3b9;
}

.perfil button#deleteAccount {
    background-color: #f44336;
}

.perfil button#deleteAccount:hover {
    background-color: #da190b;
}

.perfil-form {
    background-color: #f0f0f0;
    padding: 1.25em;
    border-radius: 0.5em;
    box-shadow: 0 0 0.625em 0 rgba(0,0,0,0.1);
    width: 50%;
    margin: 0 auto;
}

.perfil-form label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.3125em;
    color: #222744;
}

.perfil-form input[type="text"], .perfil-form select {
    box-sizing: border-box;
    width: 100%;
    padding: 0.625em;
    margin-bottom: 0.625em;
    border: 0.0625em solid #ddd;
    border-radius: 0.25em;
}

.perfil-form input[type="submit"] {
    background-color: #2F4C5C;
    color: white;
    padding: 0.625em 1.25em;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    font-family: 'Amaranth';
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.perfil-form input[type="submit"]:hover {
    background-color: #2ba3b9;
}

.perfil-button {
    display: flex;
    justify-content: space-between;
}

.perfil-form input[type="submit"],
.perfil-form a {
    flex: 1;
    margin: 0 0.625em;
}

.perfil-form a {
    background-color: orange;
    color: white;
    padding: 0.625em 1.25em;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    font-size: 1em;
    font-family: 'Amaranth';
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
}

/* Animaciones */

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOutRight {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes spin {
    0% { transform: translateY(-50%) rotate(0deg); }
    100% { transform: translateY(-50%) rotate(360deg); }
}

/* Media queries para dispositivos móviles */
@media only screen and (max-width: 972px) {
    body {
        overflow-x: hidden;
    }

    header {
        padding: 0.625em;
    }

    .container {
        width: 90%;
        flex-direction: column;
    }

    .container-header {
        display: none;
    }

    .container-header-centered {
        height: 4.375em;
    }

    .container-header-movil {
        width: 100%;
        margin: 0 auto;
        height: 4.375em;
        display: block;
        transition: height 0.5s ease;
    }

    .logo-dropdown {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    .boton-menu {
        width: 6%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        z-index: 2;
    }

    .logo-movil {
        width: 94%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        z-index: 2;
    }

    .logo-movil img {
        width: 4.375em;
        height: auto;
        margin-right: 1.25em;
    }

    .logo-movil img, .logo-movil h1 {
        display: block;
        text-align: center;
        font-size: 1.125em;
        font-weight: lighter;
    }

    .logo img, .logo h1 {
        display: block;
        text-align: center;
        font-size: 1.125em;
        font-weight: lighter;
    }
    
    .logo-movil h1 {
        margin: 0;
        padding: 0;
        font-family: 'Grover Heavy', sans-serif;
        white-space: nowrap;
    }
    
    .logo-movil a {
        text-decoration: none;
    }
    
    .logo-movil a:visited, .logo-movil a:active, .logo-movil a:link, .logo-movil a:hover {
        color: #ffffff;
    }

    .barra-navegacion-movil {
        display: flex;
        justify-content: center;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        top: 0;
        background-color: #2F4C5C;
        width: 80%;
        padding: 0 0.3125em;
        margin-top: 1.25em;
        border-radius: 0.3125em;
        z-index: 1;
    }
    
    nav ul li:hover a:hover {
        background-color: #2c6888;
    }

    nav ul li {
        width: 100%;
        text-align: center;
        border: 0.0625em solid #ffffff;
        border-radius: 0.3125em;
        margin: 0.3125em 0;
    }

    #cart-icon {
        display: flex;
        align-items: center;
        margin-right: 1.5625em;
        font-size: 1.2em;
    }

    .cart-count {
        top: 0.85em;
        width: 1.3em;
        height: 1.3em;
        font-size: 0.7em;
    }

    .cart-dropdown {
        top: 1.25em;
        font-size: 0.8em;
    }

    .cart-item-title, .cart-item-price {
        font-size: 1em;
    }

    .dropdown-menu-button .bar {
        display: block;
        width: 1.5625em;
        height: 0.1875em;
        margin: 0.1875em auto;
        background-color: #ffffff;
    }

    .dropdown-menu-button {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background: none;
        border: none;
        cursor: pointer;
        padding: 0.625em;
    }

    .dropdown-menu-mobile {
        position: absolute;
        top: 4.375em;
        display: none;
        opacity: 0;
        transition: height 0.5s ease, opacity 0.5s ease;
    }

    .dropdown-menu-mobile a {
        width: 100%;
        padding: 0 0.3125em;
        color: white;
    }

    .dropdown-menu-mobile a:visited, .dropdown-menu-mobile a:active, .dropdown-menu-mobile a:link, .dropdown-menu-mobile a:hover {
        color: white;
        text-decoration: none;
    }

    .dropdown-menu-mobile li {
        background-color: #2F4C5C;
        padding: 0.1875em 0;
        display: flex;
        justify-content: center;
        transition: background-color 0.3s ease, height 0.5s ease;
    }

    .dropdown-menu-mobile li:hover, .dropdown-menu-mobile a:hover {
        background-color: #2c6888;
    }

    .dropdown-mobile {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 1.25em;
        position: relative;
    }
    
    .dropdown-menu-mobile-2 {
        display: none;
    }

    a.dropdown-toggle {
        width: 90%;
        position: absolute;
        top: 0.1875em;
        z-index: 1;
    }

    ul.dropdown-menu-mobile-2 {
        margin-top: 0.625em;
    }

    .login-form {
        width: 70%;
    }

    .error-404 {
        font-size: 1em;
        margin-top: 0.9375em;
    }
    
    .error-404 img {
        width: 9.375em;
        height: auto;
    }
    
    .collection-box, .nft {
        aspect-ratio: 1 / 1;
        position: relative;
        width: auto;
    }

    .nft img {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .nft-box a p, .nft-box-disabled a p {
        font-size: 1em;
    }
    
    .collection-box a {
        display: block;
        height: 0;
        padding-top: 70%;
        position: relative;
    }
    
    .collection-box a img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    
    .collection-cover img {
        height: 12.5em;
    }
    
    .nft-box a img, .nft-box-disabled a img {
        height: 12.5em;
        object-fit: cover;
        object-position: center;
    }
    
    .cuenta {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    
    .cuenta-izq, .invitado-form, .direccion-form, .direccion, .metodo-pago, .tarjeta-credito {
        width: 80%;
    }
    
    .cuenta-der {
        margin: 1.875em;
    }

    .invitado-form input[type="text"], .invitado-form input[type="email"], .invitado-form input[type="tel"] {
        border-radius: 0.5em;
    }
    
    .boton-derecha {
        margin-top: 1.25em;
        margin-right: 0.9375em;
    }
    
    .tarjeta-guardada {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .tarjeta-guardada img {
        margin-right: 0em;
        margin-bottom: 0.625em;
    }
    
    .tarjeta-guardada p {
        margin-top: 0.625em;
        text-align: center;
    }
    
    .tarjeta-guardada .boton-modificar {
        margin-right: 0em;
        margin-bottom: 0.5em;
        margin-top: 0.9375em;
    }
    
    .modal .modal-content {
        width: 70%;
    }
    
    .modal .form-modificar {
        width: 80%;
    }
    
    .fecha-cvv {
        width: 125%;
    }
    
    .cvv {
        flex-basis: 100%;
        text-align: center;
    }
    
    .mes-tarjeta, .year-tarjeta {
        text-align: center;
    }
    
    .mes-tarjeta select, .year-tarjeta select {
        background-color: #ffffff;
        width: 7.5em;
    }
    
    .cvv input {
        width: 6.25em;
    }
    
    .tarjeta-guardada .boton-modificar, .tarjeta-guardada .boton-eliminar {
        border-radius: 0.3125em;
        font-size: 1em;
    }
}
    
/* Media queries para la barra de búsqueda */
@media only screen and (min-width: 973px) and (max-width: 1331px) {
    .container-header {
        width: 90%;
        display: flex;
        justify-content: space-between;
    }

    .search-form {
        display: none;
    }
    
    .search-icon, nav {
        display: inline-block;
    }

}

/* Media queries para la barra de búsqueda */
@media only screen and (min-width: 1332px) {
    .search-icon {
        display: none;
    }
}

@media only screen and (min-width: 1367px) and (max-width: 1599px) {
    .container-header {
        width: 90%;
        display: flex;
        justify-content: space-between;
    }

    .search-form {
        display: none;
    }
    
    .search-icon, nav {
        display: inline-block;
    }

}

/* Media queries para pantallas 720p */
@media only screen and (min-width: 1281px) and (max-width: 1366px) {
    .container {
        width: 70%;
    }

    .container-header {
        width: 90%;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .login-form {
        width: 40%;
    }

    .error-404 {
        font-size: 1.25em;
        margin-top: 1.875em;
    }   
    
    .error-404 img {
        width: 12.5em;
        height: auto;
    }
    
    .dropdown-menu {
        width: 7.5em;
    }
}
    
/* Media queries para pantallas más grandes */
@media only screen and (min-width: 1367px) and (max-width: 2159px) {
    .container {
        width: 70%;
    }

    .container h2 {
        font-size: 1.75em;
    }

    .container-header {
        font-size: 1.2em;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .search-form button[type="submit"] {
        padding: 0.5625em 0.9375em;
        border-radius: 0.3125em;
        font-size: 0.8em;
    }

    #cart-icon {
        font-size: 1.3em;
    }

    .cart-count {
        top: -1.125em;
        right: -1.125em;
        width: 1.5625em;
        height: 1.5625em;
        font-size: 0.8em;
    }
}

@media only screen and (min-width: 2160px) and (max-width: 2600px) {
    .container-header {
        width: 90%;
    }
    
    nav {
        width: 90%;
    }
}

/* Media queries para pantallas 4K */
@media only screen and (min-width: 2160px) {
    .container {
        width: 70%;
        font-size: 2.25em;
    }

    .container h2 {
        font-size: 2em;
    }

    .container-header {
        font-size: 1.3em;
        height: 9.375em;
    }

    .container-header-centered {
        height: 9.375em;
    }

    .logo h1 {
        font-size: 3em;
    }

    .logo img {
        width: 9.375em;
    }

    nav ul li a {
        font-size: 1.75em;
    }

    .search-form input[type="text"] {
        padding: 0.5em;
        padding-left: 1.875em;
        margin-right: 1.25em;
        border-radius: 1.875em;
        font-size: 1.75em;
    }

    .search-form button[type="submit"] {
        padding: 0.6em 1.75em;
        border-radius: 0.625em;
        font-size: 1.8em;
    }

    .profile-pic {
        width: 2.5em;
        height: 2.5em;
        margin-right: 1.25em;
    }

    .cart-count {
        top: -0.9em;
        right: -0.9em;
        width: 1.2em;
        height: 1.2em;
        font-size: 0.8em;
    }

    #cart-icon {
        font-size: 2em;
    }

    .cart-dropdown {
        padding: 1.5625em;
        width: 25em;
        box-shadow: 0 0.5em 0.8em rgba(0, 0, 0, 0.1);
        font-size: 0.7em;
    }

    .cart-item {
        width: 130%;
        margin-top: 1.25em;
        font-size: 1.1em;
    }

    .cart-item img {
        width: 7em;
        height: 7em;
        margin-right: 3.125em;
    }

    .cart-item-2 img {
        width: 8em;
        height: 8em;
        border-radius: 0.5em;
    }
    
    tr {
        font-size: 1.5em;
    }
    
    .cart-total {
        font-size: 2em;
    }
    
    .cart-items {
        font-size: 1.1em;
    }
    
    .cart-total-2 {
        font-size: 1.75em;
    }
    
    .cart-buttons {
        font-size: 1.25em;
    }
    
    a.cart-button, a.checkout-button {
        border-radius: 0.625em;
    }
    
    .checkout-button-container {
        gap: 1.875em;
        font-size: 1.2em;
    }
    
    .login-button {
        padding: 0.5em 1em;
        font-size: 2em;
    }
    
    .volver {
        font-size: 3em;
        margin-left: 2.5em;
    }
    
    .login-form {
        font-size: 1.5em;
        padding: 3.125em;
    }
    
    .login-form label {
        font-size: 1.7em;
    }
    
    .login-form input[type="text"], .login-form input[type="email"], .login-form input[type="password"], .login-form input[type="number"], .login-form select {
        padding: 1em;
        border-radius: 0.5em;
        margin-bottom: 1.25em;
        font-size: 1.3em;
    }
    
    .login-form input[type="text"]::placeholder, .login-form input[type="email"]::placeholder, .login-form input[type="password"]::placeholder {
        font-size: 1.5em;
    }
    
    .login-form input[type="submit"] {
        padding: 0.8em;
        border-radius: 0.5em;
        font-size: 1.5em;
    }

    .password-container {
        margin-bottom: 1.25em;
    }
    
    #toggle-password, #toggle-password-2 {
        font-size: 1.5em;
    }

    #toggle-current-password, #toggle-new-password, #toggle-confirm-password {
        right: 1.2em;
        font-size: 1.5em;
    }
    
    form.login-form.checkout-login {
        width: 80%;
        border-radius: 0.9375em;
        font-size: 0.75em;
        padding: 2em;
    }
    
    .signup-link {
        font-size: 1.8em;
    }    

    .collection-grid {
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        grid-gap: 40px;
    }
    
    .collection-box {
        border-radius: 0.5em;
    }
    
    .collection-box a p {
        font-size: 0.8em;
    }
    
    .dropdown {
        font-size: 1.75em;
    }
    
    .dropdown a {
        font-size: 1em;
    }
    
    .dropdown-menu {
        border-radius: 0.625em;
        padding: 1.25em;
    }
    
    .error-header, .message-header {
        padding: 0.625em;
        border-radius: 0.625em;
        top: 1.25em;
        font-size: 2.5em;
    }
    
    .collection-cover img {
        height: 22em;
    }
    
    .collection-info {
        padding-left: 3.125em;
    }
    
    .nft-grid {
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        grid-gap: 50px;
    }
    
    .nft-box {
        border-radius: 0.5em;
    }
    
    .add-to-cart {
        border-radius: 0.5em;
    }
    
    .add-to-cart i {
        margin-right: 0.625em;
    }

    .cuenta-der {
        font-size: 0.75em;
    }
    
    .direccion {
        border-radius: 0.625em;
        padding: 2em;
    }
    
    .direccion h3 {
        font-size: 1.8em;
        margin: 1.25em auto;
    }
    
    .direccion button {
        border-radius: 0.625em;
        font-size: 1.2em;
    }
    
    .siguiente {
        border-radius: 0.625em;
        font-size: 1.1em;
    }
    
    .direccion-form {
        padding: 1em 3.125em;
        border-radius: 0.9375em;
        width: 60%;
        font-size: 0.8em;
    }
    
    .direccion-form h3 {
        font-size: 1.8em;
        margin: 1.875em auto;
    }
    
    .direccion-form label {
        font-size: 1.4em;
        margin-bottom: 1.25em;
    }
    
    .direccion-form input[type="text"], .direccion-form select {
        padding: 1em;
        margin-bottom: 1.875em;
        border-radius: 0.5em;
        font-size: 1.1em;
    }
    
    .direccion-form a, .direccion-form input[type="submit"] {
        border-radius: 0.5em;
        font-size: 1.2em;
    }
    
    .direccion-button {
        margin-top: 1.25em;
    }
    
    .invitado-form {
        font-size: 1em;
        padding: 2em;
        width: 55%;
    }
    
    .invitado-form input[type="text"], .invitado-form input[type="email"], .invitado-form input[type="tel"] {
        padding: 1em;
        margin-bottom: 1.5625em;
        border-radius: 0.625em;
        font-size: 1em;
    }
    
    .invitado-form input[type="submit"] {
        padding: 1em 1.5em;
        border-radius: 0.625em;
        margin-top: 2.5em;
        font-size: 1.1em;
    }

    .metodo-pago {
        width: 70%;
    }
    
    .tarjeta-credito {
        width: 70%;
        font-size: 1.5em;
    }
    
    .numero-tarjeta, .titular-tarjeta {
        border-radius: 0.9375em;
        padding: 1.25em 2.5em;
    }
    
    .mes-tarjeta select, .year-tarjeta select, .cvv input {
        width: 12em;
        border-radius: 0.9375em;
    }
    
    input.cvv-input {
        height: 2.5em;
        font-size: 0.8em;
        padding: 0.3em 1.5em;
    }
    
    .tarjeta-guardada {
        padding: 1em 2em;
        border-radius: 0.9375em;
        font-size: 0.8em;
        width: 110%;
        gap: 0.5em;
    }
    
    .tarjeta-guardada img {
        width: 5em;
    }
    
    .tarjeta-guardada .boton-modificar, .tarjeta-guardada .boton-eliminar {
        padding: 0.625em 1.25em;
        border-radius: 0.625em;
        font-size: 0.8em;
    }
    
    .modal .modal-content {
        padding: 2.5em;
        border-radius: 1.25em;
    }
    
    .fecha-cvv {
        width: 112%;
    }
    
    .metodo-pago-botones {
        margin-top: 2.5em;
        font-size: 0.8em;
    }
    
    .boton-proceder {
        margin-bottom: 1.25em;
    }
    
    .boton-paypal, .boton-proceder {
        width: 12.5em;
        padding: 0.9375em;
        border-radius: 0.9375em;
        font-size: 1em;
    }
    
    .boton-paypal {
        padding-right: 7em;
        background: url(../img/paypal.svg) no-repeat 78% 55% #113984;
        transition: background 0.3s;
        background-size: 5.5em;
    }

    .boton-paypal:hover {
        background: url(../img/paypal.svg) no-repeat 78% 55% #0d2b6b;
    }
    
    .error-404 {
        font-size: 2em;
    }
    
    .procesar-pago {
        font-size: 2em;
    }

    .menu-columna {
        font-size: 2em;
    }

    .contenido {
        font-size: 1.8em;
    }

    .contenido .login-form {
        padding: 1.5em 3.125em;
        font-size: 0.7em;
    }

    .contenido .tarjeta-guardada {
        padding: 1.25em 1.5em;
    }

    .contenido .tarjeta-guardada img {
        width: 5em;
        margin-right: 2em;
    }

    .modificar-tarjeta h3 {
        margin-bottom: 0em;
    }

    .contenido .modal .modal-content {
        width: 30%;
    }

    .contenido .boton-proceder {
        font-size: 1.2em;
        padding: 0.625em;
    }

    .mis-nft-grid {
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
        grid-gap: 50px;
    }

    .nft {
        width: auto;
    }

    .vender-nft-container .login-form {
        padding: 1.25em;
        font-size: 1em;
    }

    .vender-nft-container .login-form input[type="file"] {
        font-size: 1em;
    }

    .vender-nft-container .login-form input::file-selector-button {
        margin-right: 0.8em;
    }

    .vender-nft-container .login-form input[type="submit"] {
        font-size: 1em;
    }
}