RewriteEngine On

# Eliminar la extensión .php de las URLs
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# Eliminar la extensión .html de las URLs
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

# Redirigir las solicitudes directas de archivos .php o .html a la versión sin extensión
RewriteCond %{THE_REQUEST} /([^.]+)\.(php|html) [NC]
RewriteRule ^ /%1 [NC,L,R]
